admin_pw: qwerty
providers:
  malleefowl:
    url: http://${HOSTNAME}:8091/wps
    title: test_malleefowl
    public: true
    c4i: false

  flyingpigeon:
    url: http://localhost:8093/wps
    title: test_flyingpigeon
    public: true
    c4i: false


